alabaster==0.7.13 ; python_version >= "3.7" and python_version < "4.0"
annotated-types==0.5.0 ; python_version >= "3.7" and python_version < "4.0"
argcomplete==3.1.2 ; python_version >= "3.7" and python_version < "4.0"
attrs==24.2.0 ; python_version >= "3.7" and python_version < "4.0"
authlib==1.2.1 ; python_version >= "3.7" and python_version < "4.0"
babel==2.14.0 ; python_version >= "3.7" and python_version < "4.0"
bandit==1.7.5 ; python_version >= "3.7" and python_version < "4.0"
beautifulsoup4==4.12.3 ; python_version >= "3.7" and python_version < "4.0"
black==23.3.0 ; python_version >= "3.7" and python_version < "4.0"
certifi==2024.8.30 ; python_version >= "3.7" and python_version < "4.0"
cffi==1.15.1 ; python_version >= "3.7" and python_version < "4.0" and platform_python_implementation != "PyPy"
cfgv==3.3.1 ; python_version >= "3.7" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_version >= "3.7" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.7" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.7" and python_version < "4.0"
colorlog==6.8.2 ; python_version >= "3.7" and python_version < "4.0"
coverage[toml]==7.2.7 ; python_version >= "3.7" and python_version < "4.0"
cryptography==43.0.0 ; python_version >= "3.7" and python_version < "4.0"
darglint==1.8.1 ; python_version >= "3.7" and python_version < "4.0"
datetime==5.5 ; python_version >= "3.7" and python_version < "4.0"
distlib==0.3.8 ; python_version >= "3.7" and python_version < "4.0"
docutils==0.17.1 ; python_version >= "3.7" and python_version < "4.0"
dparse==0.6.4b0 ; python_version >= "3.7" and python_version < "4.0"
exceptiongroup==1.2.2 ; python_version >= "3.7" and python_version < "3.11"
filelock==3.12.2 ; python_version >= "3.7" and python_version < "4.0"
flake8-bandit==4.1.1 ; python_version >= "3.7" and python_version < "4.0"
flake8-bugbear==23.3.12 ; python_version >= "3.7" and python_version < "4.0"
flake8-docstrings==1.7.0 ; python_version >= "3.7" and python_version < "4.0"
flake8-rst-docstrings==0.3.0 ; python_version >= "3.7" and python_version < "4.0"
flake8==5.0.4 ; python_version >= "3.7" and python_version < "4.0"
furo==2022.9.29 ; python_version >= "3.7" and python_version < "4.0"
gitdb==4.0.11 ; python_version >= "3.7" and python_version < "4.0"
gitpython==3.1.43 ; python_version >= "3.7" and python_version < "4.0"
identify==2.5.24 ; python_version >= "3.7" and python_version < "4.0"
idna==3.8 ; python_version >= "3.7" and python_version < "4.0"
imagesize==1.4.1 ; python_version >= "3.7" and python_version < "4.0"
importlib-metadata==4.2.0 ; python_version >= "3.7" and python_version < "3.8"
iniconfig==2.0.0 ; python_version >= "3.7" and python_version < "4.0"
isort==5.11.5 ; python_version >= "3.7" and python_version < "4.0"
jinja2==3.1.4 ; python_version >= "3.7" and python_version < "4.0"
livereload==2.7.0 ; python_version >= "3.7" and python_version < "4.0"
markdown-it-py==2.2.0 ; python_version >= "3.7" and python_version < "4.0"
markupsafe==2.1.5 ; python_version >= "3.7" and python_version < "4.0"
marshmallow==3.19.0 ; python_version >= "3.7" and python_version < "4.0"
mccabe==0.7.0 ; python_version >= "3.7" and python_version < "4.0"
mdit-py-plugins==0.3.5 ; python_version >= "3.7" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.7" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.7" and python_version < "4.0"
mypy==1.4.1 ; python_version >= "3.7" and python_version < "4.0"
myst-parser==0.18.1 ; python_version >= "3.7" and python_version < "4.0"
nodeenv==1.9.1 ; python_version >= "3.7" and python_version < "4.0"
nox-poetry==1.0.3 ; python_version >= "3.7" and python_version < "4.0"
nox==2024.4.15 ; python_version >= "3.7" and python_version < "4.0"
packaging==24.0 ; python_version >= "3.7" and python_version < "4.0"
pathspec==0.11.2 ; python_version >= "3.7" and python_version < "4.0"
pbr==6.1.0 ; python_version >= "3.7" and python_version < "4.0"
pep8-naming==0.14.0 ; python_version >= "3.7" and python_version < "4.0"
pexpect==4.9.0 ; python_version >= "3.7" and python_version < "4.0"
platformdirs==2.6.2 ; python_version >= "3.7" and python_version < "4.0"
pluggy==1.2.0 ; python_version >= "3.7" and python_version < "4.0"
pre-commit-hooks==4.4.0 ; python_version >= "3.7" and python_version < "4.0"
pre-commit==2.21.0 ; python_version >= "3.7" and python_version < "4.0"
psutil==6.0.0 ; python_version >= "3.7" and python_version < "4.0"
ptyprocess==0.7.0 ; python_version >= "3.7" and python_version < "4.0"
pycodestyle==2.9.1 ; python_version >= "3.7" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.7" and python_version < "4.0" and platform_python_implementation != "PyPy"
pydantic-core==2.14.6 ; python_version >= "3.7" and python_version < "4.0"
pydantic==2.5.3 ; python_version >= "3.7" and python_version < "4.0"
pydocstyle==6.3.0 ; python_version >= "3.7" and python_version < "4.0"
pyflakes==2.5.0 ; python_version >= "3.7" and python_version < "4.0"
pygments==2.17.2 ; python_version >= "3.7" and python_version < "4.0"
pytest==7.4.4 ; python_version >= "3.7" and python_version < "4.0"
pytz==2024.1 ; python_version >= "3.7" and python_version < "4.0"
pyupgrade==3.3.2 ; python_version >= "3.7" and python_version < "4.0"
pyyaml==6.0.1 ; python_version >= "3.7" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.7" and python_version < "4.0"
restructuredtext-lint==1.4.0 ; python_version >= "3.7" and python_version < "4.0"
rich==13.8.0 ; python_version >= "3.7" and python_version < "4.0"
ruamel-yaml-clib==0.2.8 ; platform_python_implementation == "CPython" and python_version < "3.13" and python_version >= "3.7"
ruamel-yaml==0.18.6 ; python_version >= "3.7" and python_version < "4.0"
safety-schemas==0.0.5 ; python_version >= "3.7" and python_version < "4.0"
safety==3.2.7 ; python_version >= "3.7" and python_version < "4.0"
setuptools==68.0.0 ; python_version >= "3.7" and python_version < "4.0"
shellingham==1.5.4 ; python_version >= "3.7" and python_version < "4.0"
smmap==5.0.1 ; python_version >= "3.7" and python_version < "4.0"
snowballstemmer==2.2.0 ; python_version >= "3.7" and python_version < "4.0"
soupsieve==2.4.1 ; python_version >= "3.7" and python_version < "4.0"
sphinx-autobuild==2021.3.14 ; python_version >= "3.7" and python_version < "4.0"
sphinx-basic-ng==1.0.0b2 ; python_version >= "3.7" and python_version < "4.0"
sphinx-click==4.4.0 ; python_version >= "3.7" and python_version < "4.0"
sphinx==4.3.2 ; python_version >= "3.7" and python_version < "4.0"
sphinxcontrib-applehelp==1.0.2 ; python_version >= "3.7" and python_version < "4.0"
sphinxcontrib-devhelp==1.0.2 ; python_version >= "3.7" and python_version < "4.0"
sphinxcontrib-htmlhelp==2.0.0 ; python_version >= "3.7" and python_version < "4.0"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.7" and python_version < "4.0"
sphinxcontrib-qthelp==1.0.3 ; python_version >= "3.7" and python_version < "4.0"
sphinxcontrib-serializinghtml==1.1.5 ; python_version >= "3.7" and python_version < "4.0"
stevedore==3.5.2 ; python_version >= "3.7" and python_version < "4.0"
tokenize-rt==5.0.0 ; python_version >= "3.7" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.7" and python_full_version <= "3.11.0a6"
tomlkit==0.12.5 ; python_version >= "3.7" and python_version < "4.0"
tornado==6.2 ; python_version >= "3.7" and python_version < "4.0"
typed-ast==1.5.5 ; python_version < "3.8" and python_version >= "3.7"
typeguard==2.13.3 ; python_version >= "3.7" and python_version < "4.0"
typer==0.12.5 ; python_version >= "3.7" and python_version < "4.0"
typing-extensions==4.7.1 ; python_version >= "3.7" and python_version < "4.0"
urllib3==2.0.7 ; python_version >= "3.7" and python_version < "4.0"
virtualenv==20.16.2 ; python_version >= "3.7" and python_version < "4.0"
xdoctest[colors]==1.1.6 ; python_version >= "3.7" and python_version < "4.0"
zipp==3.15.0 ; python_version >= "3.7" and python_version < "3.8"
zope-interface==6.4.post2 ; python_version >= "3.7" and python_version < "4.0"
